<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'scss/style.scss' %}">
</head>
<body>
<section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/static/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
                    </div>
                    <div>
                        <p style="position:absolute; padding-top:400px; padding-left:70px">
                        <a href="/password-reset">Forgotten your password?</a>
                        </p>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
<!--                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>-->
<!--                                <input type="text" name="username" id="username" placeholder="Username"/>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>-->
<!--                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>-->
<!--                            </div>-->
                                {% for field in form %}
                                <div>{{field.label}}</div>
                                <div>{{field}}</div>
                                <div class="error">{{field.errors}}</div>
                                {% endfor %}
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>