<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'scss/style.scss' %}">
</head>
<body>
<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {% for field in user_form %}
                                <div>{{field.label}}</div>
                                <div>{{field}}</div>
                                <div class="error">{{field.errors}}</div>
                                {% endfor %}
                            </div>
<!--                            {{ user_form.as_p }}-->
<!--                            <div class="form-group">-->
<!--                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>-->
<!--                                <input type="text" name="name" id="name" placeholder="Username"/>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="email"><i class="zmdi zmdi-email"></i></label>-->
<!--                                <input type="email" name="email" id="email" placeholder="Email"/>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>-->
<!--                                <input type="password" name="pass" id="pass" placeholder="Password"/>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>-->
<!--                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>-->
<!--                            </div>-->
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                                <figure><img src="/static/images/signup-image.jpg" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>