<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Detail</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">


</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/gallery">
                <i class="fas fa-film mr-2"></i>
                Album
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/create/" role="button" class="btn btn-primary">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/gallery">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2 active" aria-current="page" href="/gallery/video">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="about.html">Audios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="/logout">Log Out</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">{{video.title}}</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <video autoplay muted loop controls id="tm-video" >
                    <source src="{{video.video.url}}" type="video/mp4">
                </video>  
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <div class="text-center mb-5">
                        <a href="{% url 'videos:videos_delete' video.id %}" class="btn btn-primary tm-btn-big">Delete</a>
                    </div>                    
                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">MP4</span>
                        </div>
                    </div>
<!--                    <div>-->
<!--                        <h3 class="tm-text-gray-dark mb-3">Tags</h3>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Bluesky</a>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Nature</a>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Background</a>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>-->
<!--                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>